# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5433
POSTGRES_DB=synesthesia
POSTGRES_USER=synesthesia_user
POSTGRES_PASSWORD=

# Backend
BACKEND_PORT=8000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Anthropic API (https://console.anthropic.com)
ANTHROPIC_API_KEY=