# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=synesthesia
POSTGRES_USER=synesthesia_user
POSTGRES_PASSWORD=

# Backend
BACKEND_PORT=8000

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Spotify API 
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Genius API 
GENIUS_ACCESS_TOKEN=